allow-from=127.0.0.0/8, 10.0.0.0/8, 100.64.0.0/10, 169.254.0.0/16, 192.168.0.0/16, 172.16.0.0/12, ::1/128, fc00::/7, fe80::/10
auth-zones={{ getv "/pdns/recursor/zones" ""}}
daemon=no
disable-syslog=yes
dnssec=off

# dont-query=127.0.0.0/8, 10.0.0.0/8, 100.64.0.0/10, 169.254.0.0/16, 192.168.0.0/16, 172.16.0.0/12, ::1/128, fc00::/7, fe80::/10, 0.0.0.0/8, 192.0.0.0/24, 192.0.2.0/24, 198.51.100.0/24, 203.0.113.0/24, 240.0.0.0/4, ::/96, ::ffff:0:0/96, 100::/64, 2001:db8::/32

# forward-zones Zones for which we forward queries, comma separated domain=ip pairs
# forward-zones=

local-address=0.0.0.0
log-common-errors=yes
log-rpz-changes=yes
log-timestamp=yes

# quiet Suppress logging of questions and answers
# quiet=

serve-rfc1918=no

# server-id     Returned when queried for 'id.server' TXT or NSID, defaults to hostname, set custom or 'disabled'
# server-id=

statistics-interval=60